@{ ViewData["Title"] = @Model.TeamName; }

@model IndexViewModel
<div class="text-center">
    <h1 class="display-4"> @Model.TeamName </h1>

    <table class="table-bordered">
        <thead>
            <tr>
                <th> First Name</th>
                <th> Middle Initial</th>
                <th> Last Name </th>
                <th> Address</th>
                <th> City</th>
                <th> State</th>
                <th> Zip</th>
                <th> Phone Number</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model.Bowlers)
            {
<tr>
    <td>@x.BowlerFirstName </td>
    <td> @x.BowlerMiddleInit</td>
    <td>@x.BowlerLastName </td>
    <td>@x.BowlerAddress </td>
    <td>@x.BowlerCity </td>
    <td>@x.BowlerState</td>
    <td>@x.BowlerZip</td>
    <td> @x.BowlerPhoneNumber</td>
</tr>            }
        </tbody>
    </table>

    <!-- this handles the pagination and color of the buttons :) it also put the title of the team name at top when it is selected-->
    <div page-info="@Model.PageNumberingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         team-name="@Model.TeamName"
         page-url-teamname="@Model.TeamName"
         class="btn-group pull-right m-1">
    </div>
